@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Bondora Construction Renting </h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Bondora Construction Renting</h2>
        <p>
            Bondora Construction Renting is an application created for the developer home assignement.
            You can see the assignement if you click <a href="https://docs.google.com/document/d/1UcJG6M2eG7Hj0nASK_5QHn5cacTZ_Qts5z6KSblGFLE/edit">HERE</a>
        </p>

    </div>
    <div class="col-md-4">
        <h2>Environment</h2>
        Visual Studio 2019 or 2017 with Asp.net and SQL
    </div>

    <div class="col-md-4">
        <h2>How to use me ?</h2>
        <p>
            First, go to products to see the list of all product available.

            You can open them by clicking "More detail" to see the product page.

            If you want to rent the product, you can click on the button and select a date.

            You can then add it to your cart. Add as many products as you want.

            After that, go to check your cart. You will see all the products that you've picked.

            You can remove some you don't want. If you are happy whith your order. Press "Buy !" to buy the products.

            You'll be sent to your profil page where you can see all the previous orders.

            You can download your invoice from there.
        </p>
    </div>
</div>
