@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Bondora Construction Renting </h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Bondora Construction Renting</h2>
        <p>
            Bondora Construction Renting is an application created for the developer home assignement. 
            You can see the assignement if you click <a href="https://docs.google.com/document/d/1UcJG6M2eG7Hj0nASK_5QHn5cacTZ_Qts5z6KSblGFLE/edit">HERE</a>
        </p>

    </div>
    <div class="col-md-4">
        <h2>Environment</h2>

    </div>
</div>
